name: Python package

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  build:
    name: Build for (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.12']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Python info
        shell: bash -e {0}
        run: |
          which python
          python --version
          pwd
          du ./ -h -d 1
          df -h
      - name: Upgrade pip and install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install .[dev,publishing,tensorflow]
      - name: Run unit tests
        run: |
          python -m pytest -v
          df -h
          du ./ -h -d 1
        env:
          KERAS_BACKEND: tensorflow
      - name: Verify that we can build the package
        run: |
          python -m build
          du ./ -h -d 1
          df -h
  lint:
    name: Linting build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Python info
        shell: bash -e {0}
        run: |
          which python
          python --version
          pwd
          du ./ -h -d 1
          df -h
      - name: Upgrade pip and install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install .[dev,publishing]
      - name: Check style against standards using ruff
        run: |
          ruff check
          ruff format --check
          du ./ -h -d 1
          df -h
  backend:
    name: Run tests for backend ${{ matrix.backend }}
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: true
      matrix:
        backend: ['tensorflow']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Python info
        shell: bash -e {0}
        run: |
          which python
          python --version
          pwd
          du ./ -h -d 1
          df -h
      - name: Upgrade pip and install dependencies with backend ${{ matrix.backend }}
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install .[dev,publishing,${{ matrix.backend }}]
      - name: Run unit tests
        run: |
          python -m pytest -v
          du ./ -h -d 1
          df -h
        env:
          KERAS_BACKEND: ${{ matrix.backend }}
          JAX_ENABLE_X64: "true"

  mypy:
    name: Check types with mypy
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Python info
        shell: bash -e {0}
        run: |
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/local/lib/android/sdk || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /usr/share/swift || true
          which python
          python --version
          pwd
          du ./ -h -d 1
          df -h
      - name: Upgrade pip and install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip setuptools
          python -m pip install .[dev,publishing,tensorflow,torch,jax]
      - name: Run mypy on package
        run: |
          mypy src/
          du ./ -h -d 1
          df -h
